
/* Universal styles */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

/*
font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* Fonts used by Simple Feast = maison (1.255em) | Grubhub = graphik (14px) */

/* General styles */

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

h1 {
  font-size: 2.45rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

.cta {
  display: ;
  color: white;
  width: 10rem;
  padding: 0.95rem;
  background-color: #3fa435;
  text-align: center;
  font-variant: ;
  font-size: 1.15rem;
  padding: auto 0;
  font-weight: bolder;
}



/* Button styles */

.cta a {
  color: white;
  text-decoration: none;
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 12rem;
  height: 3rem;
  border-radius: 50px;
  padding: auto;
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: bold;

}

.cta_read-more {
  background-color: #3fa435;
}

.cta_read-more:hover {
  color: #3fa435;
  background-color: white;
  border: 1.5px solid #3fa435;
}


/* Header styles */

.header {
  background: white;
  padding: 1.5rem 0;
  height: 4rem;
  justify-content: space-between;
  font-variant: small-caps;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: ;
  align-items: center;
  position: relative;
}


.menu a {
  padding: 1rem;
  color: black;
  text-decoration: none;
}

.menu img.logo {
  height: 7rem;
}

.menu img {
  height: 2rem;
  padding-right: 0.5rem;
}

/* Banner styles */

.banner {
  background-image: url(../images/stock_images/banner_v3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  height: 40rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25rem;
  padding-top: 10%;
  margin-left: 5%;
}

.text-block {
  margin-top: 1rem;
  background-color: ;
  line-height: 1.2;
  color: black;
}

.cta.shop1 {
  margin-top: 2rem;
  margin-left: 5%;
  border-radius: 50px;
}

/* Quotes section styles */

.quotes {
  justify-content: space-around;
  padding: 0 0;
  background-color: #3fa435;
  height: 7rem;
  align-items: center;
  color: white;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  height: 4.5rem;
  text-align: center;
  font-weight: bold;

}

.quote img {
  width: 7rem;
}

 #volkskrant img {
  width: 10rem;
}

/* Quotes USPs styles */

.USPs .text-block {
  flex-direction: ;
  margin: 3rem auto;
  width: 75%;
}

/* The big compare styles */

.compare {
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem 0;
  background-color: rgb(232, 232, 227);
}

.compare-intro {
  text-align: center;
  line-height: 1.4;
  color: ;
  z-index: 1;
}

.tale {
  display: flex;
  align-items: center;
}

.row-one .time-slice {
  margin-left: 5%;
}


.row-two .time-slice {
  margin-left: 20%;
}

.row-three .time-slice {
  margin-left: 35%;
}

.explainer {
  width: 20rem;
  margin-left: 2rem;
  line-height: 1.4;
}

.time-slice {
  display: flex;
  flex-direction: column;
  max-height: 15rem;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: rgba(192,192,192, 0.2);
}

.time-slice img {
  width: 10rem;
}

.time-slice h3 {
  background-color: #3fa435;
  padding: 0.5rem;
  color: white;
}

.positive {
  color: #3fa435;
  font-variant: small-caps;
  font-weight: bold;
}

.negative {
  color: red;
  font-variant: small-caps;
  font-weight: bold;
}

/* Review section styles */

.reviews {
  margin-top: 5rem;
  text-align: center;
}

/*.reviews-container,
.review-box,
.review-content {
  border: 1px solid gray;
}*/

.reviews-container {
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.review-box {
  height: 32rem;
  width: 30%;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
  height: 20rem;
  background-position: center;
  background-size: cover;
}

.review-header {
  width: 100%
  bottom: 0;
  color: white;
  background-color: rgba(63, 164, 53, 0.6);
  padding: 1rem 0;

}

.header-line {
  height: 2px;
  background: white;
  width: 50%;
  border: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.reviews .cta_read-more {
  margin: 1rem auto;
}

#anna .review-content {
  background-image: url("../images/homeP/review_1a.jpg");

}

#fred .review-content {
  background-image: url("../images/homeP/review_2a.jpg");
}


#alexandra .review-content {
  background-image: url("../images/homeP/review_3a.jpg");
}

.checked {
    color: rgba(255, 174, 25, 0.9);
    padding: 0.5rem 0;
}

/* USPs2 section styles */

.USPs2 {
  height: 25rem;
  margin-bottom: 5rem;
}

.usp-box {
  width: 50%;
  flex-wrap: wrap;

}

.usp-box.usp-left {
  background-image: url("../images/homeP/usp-cookies.jpg");
  background-position: center;
  background-size: cover;
}

.usp-box.usp-right {
  background-color: rgb(232, 232, 227);
  padding: auto;
}

.usp-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 16rem;
  width: 25rem;
  padding: ;
  margin: auto;
}

.usp-content li {
  line-height: 1.8
}


li:before {
content: “\f13d”;
font-family: “FontAwesome”;
width: 10px;
height: 10px;
margin-right: 5px;
}
