
/* Universal styles */

html {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.4;
}

/* Fonts used by Simple Feast = maison (1.255em) | Grubhub = graphik (14px) */

/* General styles */

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header styles */

.header {
  background: #3fa435;
  color: white;
  padding: 1.5rem;
  height: 4rem;
  justify-content: space-between;
  font-variant: small-caps;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: ;
  align-items: center;
}

.menu a {
  padding: 1rem;
  color: white;
}

.menu img.logo {
  height: 5rem
}

.menu img {
  height: 3rem;
}
